@media (min-width: 576px) {
    .header {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .header {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .header {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .header {
      max-width: 1140px;
    }
  }

header {
    border: 0;
    padding: 0.625rem 0;
    position: relative;
    width: 100%;
    display: flex;
    transition: all 150ms ease 0s;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    /* border-bottom: 1px solid #a17b11; */
    margin: 0 !important;
    flex-flow: row nowrap;
}

.header {
    position: relative;
    display: flex;
    flex-wrap: wrap !important;
    flex: 1;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    min-height: 50px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

.navbar-toggler-icon {
    color: white;
    width: 1.5em !important;
    height: 1.5em !important;
}

.navbar-toggler {
    outline: 5px auto -webkit-focus-ring-color;
}

.header__logo {
    position: relative;
    flex: 1;
    max-width: 110px;
    min-width: 100px;
    width: 100%;
    height: 100%;
}

.header__logo__img {
    width: 100%;
}

.header__youtube {
    flex: 0;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    /* border-right: 1px solid #a17b11 !important; */
}

.headeer__youtube__button {
    height: 42px;
    color: red !important;
    border-radius: 0px !important;
    padding: 6px 16px !important;
}

.headeer__youtube__button:hover {
    background-color: #664747 !important;
}

.headeer__home__button {
    height: 42px;
    color: white !important;
    border-radius: 0px !important;
    padding: 6px 16px !important;
}

.headeer__home__button:hover {
    background-color: #664747 !important;
}

.header__youtube__icon > path {
    background-color: white;
}

.header__navbar__item {
    justify-content: flex-start;
    text-decoration: none;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    color: inherit;
    float: left;
    width: auto;
    margin: 0;
    display: flex;
    position: relative;
    padding: 8px;
}

.header__navbar {
    list-style: none;
    flex: 0 1;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 6px 8px;
    margin: 0 !important;
}

.header__navbar__link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: white;
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.header__navbar__link:hover {
    text-decoration: none;
    color: white;
}

.header__home__text a {
    text-decoration: none;
    color: white;
}

.header__navbar__link a:hover {
    text-decoration: none;
    color: white;
}

.dropdown-item {
    color: black !important;
}

.navbar-collapse {
    flex-grow: unset;
}